.mark-user {
  font-weight: bold;
  color: rgb(210, 32, 255)
}

.mark-correct {
  background-color: rgba(37, 174, 55, 0.3) !important;
  animation: glow-correct 3s ease-in-out infinite;
}

.mark-false {
  background-color: rgba(174, 37, 85, 0.3) !important;
  animation: glow-false 3s ease-in-out infinite;
}

@keyframes glow-correct {
  0% {
    box-shadow: 0 0 0 rgba(37, 174, 55, 0.7);
    transform: scale(1.0);
  }
  50% {
    box-shadow: 0 0 50px rgba(37, 174, 55, 0.7);
    transform: scale(1.2);
  }
  100% {
    box-shadow: 0 0 0 rgba(37, 174, 55, 0.7);
    transform: scale(1);
  }

}
@keyframes glow-false {
  0% {
    box-shadow: 0 0 0 rgba(174, 37, 85, 0.7);
  }
  50% {
    box-shadow: 0 0 10px rgba(174, 37, 85, 0.7);
  }
  100% {
    box-shadow: 0 0 0 rgba(174, 37, 85, 0.7);
  }
}

.streak {
  color: orange !important;
  page-break-inside: avoid !important;
}
