<h2 class="text-center">Player: {{this.userHandlerService.getLobbyInfo().users.length}} / 10</h2>
<!-- LEADER ON TOP -->
<div class="row mb-2">
  <div class="col-3">
    <img src="../../../../../../assets/img/profiles/leader.png" alt="user" class="rounded-circle" width="60" />
  </div>
  <div class="col-9">
    <h3 class="mb-1 mt-2">{{this.userHandlerService.getLobbyInfo().leader}}</h3>
    <img src="https://cdn-icons-png.flaticon.com/512/6941/6941697.png" alt="crown" width="15">
  </div>
</div>

<!-- NGFOR USER -->
<div class="row mb-2" *ngFor="let user of this.userHandlerService.getLobbyInfo().users; index as i">
  <!-- TODO: Make some prettier solution for profile pic, bro -->
  <div class="col-3">
    <img src="../../../../../../assets/img/profiles/profile_{{i+1}}.png" alt="user" class="rounded-circle" width="60" />
  </div>
  <div class="col-9">
    <h3 class="mt-2">{{user}}</h3>
  </div>
</div>