<!-- Header -->
<div class="fade-in-0 width-animation">
  <div class="text-center theme-gradient-header sat">
    <div class="p-1 text-white">
      Personal Homepage for hosting Projects
    </div>
  </div>
</div>

<!-- Sub-Header -->
<div class="container fade-in-2" style="max-width: 90%">
  <div class="text-center text-white overflow-hidden">
    <div class="row align-items-start justify-content-md-center">

      <!-- Quiz Game Container -->
      <div class="col-12 col-md-4">
        <h4 class="theme-gradient-right my-auto fs-6 sat top-rounded">Quiz Game</h4>
        <img (click)="goToPage('quizApp')" src="https://i.imgur.com/TJ6533g.jpg" class="img-fluid project-image">
        <div class="container">
          <ul class="list-group list-group-flush bg-transparent">
            <li class="list-group-item project-li bg-transparent">Multiplayer Quiz Game with leaderboard and various
              quiz topics to choose from.</li>
            <li class="list-group-item project-li bg-transparent">status: tdb
              <!-- Hammer Icon, bcs, you know, hammer ;) -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer"
                viewBox="0 0 16 16">
                <path
                  d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
              </svg>
            </li>
            <li class="list-group-item project-li bg-transparent">by Daniel and Mike</li>
            <li class="list-group-item project-li bg-transparent">
              <a href="https://opentdb.com/">
                API: OpenTriviaDB
              </a>
            </li>
          </ul>
        </div>
        <h4 class="my-auto fs-6 sat bottom-rounded">2022-2023</h4>
      </div>


    </div>
  </div>
</div>

<footer class="py-3">
  <div class="row text-center">
    <div class="col-md-6">
      <h5>Copyright</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted"><small class="text-muted">&copy; 2021 - 2022</small></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>Website build using</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://angular.io">Angular</a></li>
      </ul>
    </div>
    <!--     <div class="col-6 col-md">
  <h5>Resources</h5>
  <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Resource</a></li>
    <li><a class="text-muted" href="#">Resource name</a></li>
    <li><a class="text-muted" href="#">Another resource</a></li>
    <li><a class="text-muted" href="#">Final resource</a></li>
  </ul>
</div>
<div class="col-6 col-md">
  <h5>Resources</h5>
  <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Business</a></li>
    <li><a class="text-muted" href="#">Education</a></li>
    <li><a class="text-muted" href="#">Government</a></li>
    <li><a class="text-muted" href="#">Gaming</a></li>
  </ul>
</div>
<div class="col-6 col-md">
  <h5>About</h5>
  <ul class="list-unstyled text-small">
    <li><a class="text-muted" href="#">Team</a></li>
    <li><a class="text-muted" href="#">Locations</a></li>
    <li><a class="text-muted" href="#">Privacy</a></li>
    <li><a class="text-muted" href="#">Terms</a></li>
  </ul>
</div> -->
  </div>
</footer>

