<!-- Header -->
<div class="text-center theme-gradient-header sat">
    <div class="p-1 text-white">
      Personal Homepage for hosting Projects
  </div>
</div>

<!-- Sub-Header -->
<div class="container " style="max-width: 90%">
  <div class="bg-dark  text-center text-white overflow-hidden">

    <div class="">
      <div class="row align-items-start justify-content-md-center">


        <div class="col-12 col-md-4">
          <h4 class="theme-gradient-right my-auto fs-6 sat top-rounded">Quiz Game</h4>
          <img (click)="goToPage('quizApp')" src="https://i.imgur.com/TJ6533g.jpg" class="img-fluid project-image">
          <div class="container">
            <ul class="list-group list-group-flush bg-transparent">
              <li class="list-group-item project-li bg-transparent">Multiplayer Quiz Game with leaderboard and various quiz topics to choose from.</li>
              <li class="list-group-item project-li bg-transparent">TBD</li>
              <li class="list-group-item project-li bg-transparent">by Mike & Daniel</li>
              <li class="list-group-item project-li bg-transparent">
              <a href="https://opentdb.com/">
                API: OpenTriviaDB
              </a>
              </li>
            </ul>
        </div>
        <h4 class="my-auto fs-6 sat bottom-rounded">2022-2023</h4>
      </div>
    </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Copyright</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted" ><small class="text-muted">&copy; 2021 - 2022</small></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Website build using</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted" >Angular</li>
      </ul>
    </div>

<!--     <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div> -->
  </div>
</footer>
