<div class="w-50 p-3 container">
  <div>
    <div *ngIf="this.loginMode">
      <h1 class="text-center mt-3 fade-in-0">Login</h1>
      <form>
        <div class="row ">
          <!-- NAME INPUT -->
          <div class="form-group mb-2 fade-in-1">
            <label for="nameInput " class="form-label text-center ">Username:</label>
            <input type="text" class="form-control btn-lg-height" id="nameInput" aria-describedby="nameInputHelp "
              placeholder="Quizmaster317 " #userName>
            <!-- Template for NGClass <input type="text" [ngClass]="{'btn-wrong-input': this.wrongUsernameInput}" class="form-control btn-lg-height btn-wrong-input" id="nameInput" aria-describedby="nameInputHelp " placeholder="Quizmaster317 " #userName> -->
          </div>

          <!-- PASSWORT; ITERATION2 -->
          <div class="mb-4 form-group fade-in-2">
            <label for="passwordInput " class="form-label text-center ">Password:</label>
            <input type="password" class="form-control btn-lg-height " id="passwordInput" placeholder="Password "
              #password>
          </div>

          <div class="col fade-in-3">
            <button type="submit " class="btn btn-success w-100 btn-lg-height btn-gradient "
              (click)="login(userName.value, password.value) ">
              Login</button>
          </div>

          <!--                      <div class="col ">
                        <button type="submit " class="btn btn-success w-100 btn-lg-height " (click)="login(
              'Client1', 'pass1') ">
              Login 'Client1'</button>
                    </div>

                    <div class="col ">
                        <button type="submit " class="btn btn-success w-100 btn-lg-height " (click)="login(
              'Client2', 'pass2') ">
              Login 'Client2'</button>
                    </div> -->

          <!-- GUEST; ITERATION2 -->
          <!-- <div class="col ">
              <button class="btn btn-secondary w-100 btn-lg-height " (click)="loginAsGuest() ">
                Guest</button>
            </div> -->
        </div>
      </form>
    </div>
    <div *ngIf="!this.loginMode" class="fade-in-0">
      <h1 class="text-center mt-3 ">Register</h1>
      <form>
        <div class="row ">
          <!-- NAME INPUT -->
          <div class="form-group mb-2 fade-in-1">
            <label for="nameInput" class="form-label text-center ">Choose your username:</label>
            <input type="text " class="form-control btn-lg-height " id="nameInput" aria-describedby="nameInputHelp "
              placeholder="Quizmaster317 " #userName>
            <small id="nameInputHelp " class="form-text text-muted ">Mininum of 4 characters</small>
          </div>

          <!-- PASSWORT; ITERATION2 -->
          <div class="mb-4 form-group fade-in-2">
            <label for="passwordInput" class="form-label text-center ">Password:</label>
            <input type="password" class="form-control btn-lg-height " id="passwordInput" placeholder="Password "
              #password>
            <small id="nameInputHelp " class="form-text text-muted ">Mininum of 4 characters</small>
          </div>
          <div></div>
          <div class="col fade-in-3">
            <button type="submit " class="btn btn-success w-100 btn-lg-height btn-gradient "
              (click)="login(userName.value, password.value) ">
              Register</button>
          </div>

          <!-- GUEST; ITERATION2 -->
          <!-- <div class="col ">
            <button class="btn btn-secondary w-100 btn-lg-height " (click)="loginAsGuest() ">
              Guest</button>
          </div> -->
        </div>
      </form>
    </div>
  </div>

  <div class="mt-3 text-center text-muted fade-in-3">
    <div *ngIf="this.loginMode; else registerBlock ">
      <a class=" mt-3 text-center text-muted clickable fade-in-3" (click)="switchToRegister() ">Not registered yet?
        Click here!</a>

    </div>
    <ng-template #registerBlock>
      <a class="mt-3 text-center text-muted clickable fade-in-3" (click)="switchToLogin() ">Return to Login</a>
    </ng-template>

  </div>

  <!-- DEBUG INFO -->
  <div class=" text-center mt-1 ">
    {{errorDisplayMessage}}
  </div>
</div>

<script src="../../../../assets/js/confetti.js"></script>
