<div class="w-50 p-3 container">
  <h1 class="text-center mt-3">Login</h1>

  <form>
    <div class="row">
      <!-- NAME INPUT -->
      <div class="form-group mb-2">
        <label for="nameInput" class="form-label text-center">Userame:</label>
        <input type="text" class="form-control btn-lg-height" id="nameInput" aria-describedby="nameInputHelp"
          placeholder="Quizmaster317" #userName>
        <small id="nameInputHelp" class="form-text text-muted">Mininum of 4 characters</small>
      </div>

      <!-- PASSWORT; ITERATION2 -->
      <!-- <div class="mb-4 form-group">
        <label for="passwordInput" class="form-label text-center">Password:</label>
        <input type="password" class="form-control btn-lg-height" id="passwordInput" placeholder="Password" #password
          autocomplete="on">
      </div> -->

      <div class="col">
        <button type="submit" class="btn btn-success w-100 btn-lg-height btn-gradient" (click)="login(userName.value)">
          Login</button>
      </div>

      <!-- GUEST; ITERATION2 -->
      <!-- <div class="col">
        <button class="btn btn-secondary w-100 btn-lg-height" (click)="loginAsGuest()">
          Guest</button>
      </div> -->

      <a class="mt-3 text-center text-muted" routerLink="/register">Not registered yet?
        Click here!</a>



      <!-- DEBUG INFO -->
      <div class=" text-center mt-1">
        {{errorDisplayMessage}}
      </div>

    </div>
  </form>
</div>
