<div class="container pt-5">

  <div class="row">
    <!-- LEFT COLUMN 9/12 75%-->
    <div class="col-9">

      <div class="row bg-info">
        <!-- Welcome Col -->
        <div class="col">
          <h2>Welcome to <u>{{this.userHandlerService.getLobbyInfo().name}}</u>,
            {{this.userHandlerService.getUser().name}}!</h2>
          <h3>Todays Category is <b>"{{this.userHandlerService.getLobbyInfo().category}}"</b> on
            <b>{{this.userHandlerService.getLobbyInfo().difficulty}}.</b> Good Luck.
          </h3>
        </div>

        <!-- Start Game Col -->
        <div class="col d-flex justify-content-center align-content-center">

          <!-- Attention! If the User != Leader, he isnt allowed to start the game, so the button is disabled tho -->
          <button class="btn btn-rounded btn-outline-primary m-4 text-uppercase"
            [disabled]="this.userHandlerService.getUser().name == this.userHandlerService.getLobbyInfo().leader">Start
            Game</button>
          <button class="btn btn-rounded btn-outline-danger m-4 text-uppercase" (click)="leaveLobby()">Leave
            Lobby</button>
        </div>

        <hr>
      </div>

      <div class="row bg-secondary">

        <!-- Amount -->
        <div class="row mt-2">
          <div class="col-3 bg-danger">
            <p>hi</p>
          </div>
        </div>

        <!-- Timer -->
        <div class="row mt-2">
          <div class="col-3 bg-danger">
            <p>hi</p>
          </div>

          <div class=" col-9">
            <p>hi
            </p>
          </div>
        </div>

        <!-- Difficulty -->
        <div class="row mt-2">
          <div class="col-3 bg-danger">
            <p>hi</p>
          </div>

          <div class="col-9">
            <p>hi
            </p>
          </div>
        </div>

        <!-- Categories -->
        <div class="row mt-2">
          <div class="col-3 bg-danger">
            <p>hi</p>
          </div>

          <div class=" col-9">
            <p>hi
            </p>
          </div>
        </div>


      </div>
    </div>

    <!-- RIGHT COLUMN 3/12 25%-->
    <div class=" col-3 bg-warning">
      <h2 class="text-center">Player: {{this.userHandlerService.getLobbyInfo().users.length}} / 10</h2>
      <!-- LEADER ON TOP -->
      <div class="row mb-3">
        <div class="col-5">
          <img src="https://cdn-icons-png.flaticon.com/512/2202/2202112.png" alt="user" class="rounded-circle"
            width="100" />
        </div>
        <div class="col">
          <h2 class="mb-1 mt-2">{{this.userHandlerService.getLobbyInfo().leader}}</h2>
          <img src="https://cdn-icons-png.flaticon.com/512/6941/6941697.png" alt="crown" width="30">
        </div>
      </div>

      <!-- NGFOR USER -->
      <div class="row mb-3" *ngFor="let user of this.userHandlerService.getLobbyInfo().users">
        <div class="col-5">
          <img src="https://cdn-icons-png.flaticon.com/512/2202/2202112.png" alt="user" class="rounded-circle"
            width="100" />
        </div>
        <div class="col">
          <h2 class="mt-2">{{user}}</h2>
        </div>
      </div>

    </div>
  </div>

</div>

<button class="btn btn-danger btn-rounded text-uppercase logout m-2" style="width: 10rem;"
  (click)="startLobby()">GetQuestion</button>

<input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
<label class="btn btn-secondary" for="option2">Radio</label>
