.setting-label
{
height: 2.25em;
border-radius: 5px;
background-color: blueviolet;
text-align: center;
vertical-align: middle;

}

.setting-button {
  width: 8.25em;
  height: 2.25em;
  color: white;
  margin-right: .5rem; /* mr-2 == .5rem */

}

.disabledButton {
  pointer-events: none;
  opacity: 0.4;
}

 /* .disabledButton .disabledText {

  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;


  position: absolute;
  z-index: 1;

}

.disabledButton:hover .disabledText {
visibility: visible;
} */
