<div class="container pt-5">

  <!-- Row needed to use col -->
  <div class="row">
    <!-- LEFT COLUMN 9/12 75%-->
    <div class="col-9">

      <!-- Welcome Section -->
      <div class="row bg-info">
        <!-- Welcome Col -->
        <div class="col">
          <h2>Welcome to <u>{{this.userHandlerService.getLobbyInfo().name}}</u>,
            {{this.userHandlerService.getUser().name}}!</h2>
          <h3>Todays Category is <b>"{{this.userHandlerService.getLobbyInfo().category}}"</b> on
            <b>{{this.userHandlerService.getLobbyInfo().difficulty}}.</b> Good Luck.
          </h3>
        </div>

        <!-- Start Game Col -->
        <div class="col d-flex justify-content-center align-content-center">

          <!-- Attention! If the User != Leader, he isnt allowed to start the game, so the button is disabled tho -->
          <button class="btn btn-rounded btn-outline-primary m-4 text-uppercase"
            [disabled]="this.userHandlerService.getUser().name == this.userHandlerService.getLobbyInfo().leader">Start
            Game</button>
          <button class="btn btn-rounded btn-outline-danger m-4 text-uppercase" (click)="leaveLobby()">Leave
            Lobby</button>
        </div>

        <hr>
      </div>

      <!-- Setting Section -->
      <!-- Whole Section will be disabled if user != leader -->
      <div class="row"
        [ngClass]="{'disabledButton': this.userHandlerService.getUser().name != this.userHandlerService.getLobbyInfo().leader}">

        <div class="text-center theme-gradient-header sat">
          <!-- Only for regular user -->
          <div class="p-1 text-white"
            [hidden]="this.userHandlerService.getUser().name == this.userHandlerService.getLobbyInfo().leader">
            Sorry {{this.userHandlerService.getUser().name}}, but settings are only aviable for lobby-leaders!
          </div>

          <!-- Banner for leader -->
          <div class="p-1 text-white"
            [hidden]="this.userHandlerService.getUser().name != this.userHandlerService.getLobbyInfo().leader">
            Hey {{this.userHandlerService.getUser().name}}, please set up your lobby and press start!
          </div>
        </div>

        <!-- Amount -->
        <div class="row mt-2">
          <div class="col-3 setting-label">
            <p>Question Amount</p>
          </div>

          <div class="col-9">
            <div class="btn-group" role="group">
              <button type="button" class="btn setting-button btn-primary">5</button>
              <button type=" button" class="btn setting-button btn-primary">10</button>
              <button type="button" class="btn setting-button btn-primary">20</button>
            </div>
          </div>
        </div>

        <!-- Timer -->
        <div class="row mt-2">
          <div class="col-3 setting-label">
            <p>Timer</p>
          </div>

          <div class=" col-9">
            <p>hi
            </p>
          </div>
        </div>

        <!-- Difficulty -->
        <div class="row mt-2">
          <div class="col-3 setting-label">
            <p>Difficulty</p>
          </div>

          <div class="col-9">
            <p>hi
            </p>
          </div>
        </div>

        <!-- Categories -->
        <div class="row mt-2">
          <div class="col-3 setting-label">
            <p>Categories</p>
          </div>

          <div class=" col-9">
            <p>hi
            </p>
          </div>
        </div>

      </div>
    </div>

    <!-- RIGHT COLUMN 3/12 25%-->
    <div class=" col-3 bg-warning">
      <h2 class="text-center">Player: {{this.userHandlerService.getLobbyInfo().users.length}} / 10</h2>
      <!-- LEADER ON TOP -->
      <div class="row mb-3">
        <div class="col-5">
          <img src="https://cdn-icons-png.flaticon.com/512/2202/2202112.png" alt="user" class="rounded-circle"
            width="100" />
        </div>
        <div class="col">
          <h2 class="mb-1 mt-2">{{this.userHandlerService.getLobbyInfo().leader}}</h2>
          <img src="https://cdn-icons-png.flaticon.com/512/6941/6941697.png" alt="crown" width="30">
        </div>
      </div>

      <!-- NGFOR USER -->
      <div class="row mb-3" *ngFor="let user of this.userHandlerService.getLobbyInfo().users">
        <div class="col-5">
          <img src="https://cdn-icons-png.flaticon.com/512/2202/2202112.png" alt="user" class="rounded-circle"
            width="100" />
        </div>
        <div class="col">
          <h2 class="mt-2">{{user}}</h2>
        </div>
      </div>

    </div>

  </div>

</div>

<button class="btn btn-danger btn-rounded text-uppercase logout m-2" style="width: 10rem;"
  (click)="startLobby()">GetQuestion</button>


<!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example"
  [ngClass]="{'disabledButton': this.userHandlerService.getUser().name != this.userHandlerService.getLobbyInfo().leader}">
  <button type="button" class="btn btn-danger">Left</button>
  <button type="button" class="btn btn-warning">Middle</button>
  <button type="button" class="btn btn-success">Right</button>
</div> -->
