<body>
  <div class="container-fluid text-white bg-dark" >

    <div class="row no-gutters">
      <div class="col-md-4">
        <app-home *ngIf="!userLoggedIn; else elseBlock"></app-home>
        <script src="../../../../assets/js/drawAppCanvas.js"></script>
      </div>

      <ng-template #elseBlock>
        <app-joinboard></app-joinboard>
      </ng-template>

      <div class="col-md-8" style="align-items: right;">
            <app-drawboard></app-drawboard>
            <app-drawtools></app-drawtools>
      </div>
    </div>
  </div>
</body>
