<div class=" mt-3">
  <!-- Top Header -->
  <div class="col col-sm-auto mb-3">
    <div class="row">
      <div class="text-center">
        <h1>Welcome {{userName}}!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <div *ngIf="showReturnToRegisterUI">
          <button type="submit" class="btn btn-light btn-lg-height" (click)="returnToHomeComponent()">
            <img src="../../../assets/img/back.png" class="img"/> Return to Register</button>
          </div>
        </div>
      </div>

      <hr/>

      <!-- Room Joining -->
      <div *ngIf="userIsConnected; else elseBlock">
        <div class="row">
          <div class="btn-group btn-group-lg" role="group" aria-label="Button group example" stlye="width: 100% !important">
            <button class="btn btn-secondary form-control room-display-text" (click)="copyRoomNameToClipboard()">
              <img class="img" src="../../../assets/img/sketching.png"/> {{HTMLRoomText}}</button>
              <button class="btn btn-danger btn-lg-height" (click)="disconnectFromRoom()">
                <img src="../../../assets/img/back.png" class="img"/></button>
              </div>
            </div>
          </div>
          <h3 class="mt-3">{{HTMLOtherUsersText}}</h3>
        </div>

      <!-- Room Joined -->
        <ng-template #elseBlock>
          <form>
            <div class="mt-3 row">
              <label for="boardcode" class="form-label text-left">Room:</label>
              <div>
                <div class="input-group">
                  <input type="text" class="form-control btn-lg-height" id="boardcode" placeholder="Limsa Lominsa Draw-Club" #roomNameInput
                  (input)="inputFieldRoomName_onChangeValue(roomNameInput.value)" value="{{roomName}}">
                  <button class="btn btn-success btn-gradient float-end" (click)="buttonGenerateRoomName()">Generate</button>
                </div>
                <div id="nameInputHelp" class="form-text">Choose Room to enter, or create your own</div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <button class="btn btn-success w-100 btn-lg-height text-nowrap" (click)="createRoom()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                  </svg>
                  Create Room
                  <span *ngIf="createRoomLoading" class="spinner-border spinner-border-sm" role="status"></span>
                </button>
              </div>
              <div class="col mt-3">
                <button class="btn btn-success float-end ms-2 w-100 btn-lg-height text-nowrap" (click)="enterRoom()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                  Enter Room
                  <span *ngIf="enterRoomLoading" class="ml-3 spinner-border spinner-border-sm" role="status"></span>
                </button>
              </div>
            </div>
          </form>
        </ng-template>
        <div id="chatDisplay" (click)="sendMessageToServer('a')">
          <ul>
            <li *ngFor = "let msg of HTMLUserListArray" >
              <img src="../../../assets/img/user.png" class="img"/> {{msg}}</li>
            </ul>
          </div>

          <div (keyup.enter)="sendMessageToServer(chatMessage.value);chatMessage.value = ''" *ngIf="userIsConnected; else chatElseBlock">
            <!-- https://www.w3.org/TR/wai-aria-practices/examples/listbox/listbox-scrollable.html -->
            <div>
              <ul class="rounded mb-2 bg-dark"id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
                <li class="li-chat m-1" tabindex="1" *ngFor = "let msg of HTMLChatMessagesArray">{{msg}}</li>
              </ul>
            </div>
            <div>
              <div class="input-group">
                <input class="form-control" type="text" id="chatBox" #chatMessage>
                <button class="btn btn-success float-end btn-lg-height" (click)="sendMessageToServer(chatMessage.value);chatMessage.value = ''">Senden</button>
              </div>
            </div>
          </div>
          <ng-template #chatElseBlock>
            <div>

            </div>
          </ng-template>

          <div class="text-center mt-3">
            {{HTMLdebugDisplayMessage}}
          </div>
        </div>
