<div class="col text-white align-items-center" style="min-width: 20em;">
  <div class="row  align-items-center text-center">
    <h1 mat-dialog-title>Congrats to the Winners</h1>
  </div>
  <div class="row  align-items-center text-center">
    <div mat-dialog-content>
      Here we go!
    </div>

    <div class="container d-flex justify-content-center">
      <div class="podium ">
        <!-- Second -->
        <div class="podium__item fade-in-2" *ngIf="data.user.length <= 1">
          <div class="podium__player">
            <p>{{data.user[1].name}} - {{data.user[1].currentScore}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path
                  d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path
                  d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
            </p>
          </div>
          <div class="podium__rank second">
            <img
              src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber(data.user[1].name)}}.png"
              alt="user" class="rounded-circle " width="70" />
          </div>
        </div>
        <!-- First -->
        <div class="podium__item fade-in-1">
          <div class="podium__player">
            <p>{{data.user[0].name}} - {{data.user[0].currentScore}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path
                  d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path
                  d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
            </p>
          </div>
          <div class="podium__rank first">
            <img
              src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber(data.user[0].name)}}.png"
              alt="user" class="rounded-circle " width="70" />
          </div>
        </div>
        <!-- Third -->
        <div class="podium__item fade-in-3" *ngIf="data.user.length <= 2">
          <div class="podium__player">
            <p>{{data.user[2].name}} - {{data.user[2].currentScore}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path
                  d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path
                  d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
            </p>
          </div>
          <div class="podium__rank third">
            <img
              src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber(data.user[2].name)}}.png"
              alt="user" class="rounded-circle " width="70" />
          </div>
        </div>
      </div>
    </div>

    <div mat-dialog-actions>
      <div class="row mt-3 align-items-center">
        <button (click)="onClose()" class="btn btn-primary w-100 btn-lg-height">Okay, thanks!</button>
      </div>
    </div>
  </div>
</div>
