<nav class="navbar navbar-expand-sm navbar-dark bg-secondary ">
  <div class="">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
      <ul class="navbar-nav  text-nowrap">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" [routerLink]="['index']">
            <img src="../../../assets/img/icon/home.png" class="nav-img">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" [routerLink]="['quizApp']"><img src="../../../assets/img/icon/quiz.png" class="nav-img">Quiz Game</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
