<!-- We're already in a col-9 -->
<div *ngIf="!this.userHandlerService.getLobbyInfo().finished">
  <div class="row mt-3">
    <div class="col-3">
      <span class="inGameInfo">
        <p>Lobby: {{this.userHandlerService.getLobbyInfo().name}}</p>
        <p>Difficulty: {{this.userHandlerService.getLobbyInfo().currentQuestionTopic.difficulty}}</p>
        <p>Category: {{this.userHandlerService.getLobbyInfo().currentQuestionTopic.category}}</p>
      </span>
    </div>

    <!-- Timer / Question -->
    <div class="col-6 text-center sat mb-2">
      <div class="p-1 text-white" style="margin: 0 auto">
        Question:
        {{this.userHandlerService.getLobbyInfo().currentQuestionTopic.index+1}}/{{this.userHandlerService.getLobbyInfo().totalQuestionCount}}
      </div>
      <div class="spin-container timer mb-2 mt-2">
        <mat-progress-spinner style="margin: 0 auto" class="example-margin" color="accent" [mode]="'determinate'"
          [value]="this.currentSpinnerProgress">
        </mat-progress-spinner>
        <p class="center">{{this.userHandlerService.getQuestionTimer().currentTimer}}/{{this.userHandlerService.getLobbyInfo().maxTimerSeconds}}</p>
      </div>
      <div class="spacer-s"></div>
    </div>

    <div class="col-2">
      <span class="inGameInfo">
        <p>Correct: {{this.userHandlerService.getUser().currentCorrectAnswers}}</p>
        <p>Wrong: {{this.userHandlerService.getUser().currentWrongAnswers}}</p>
        <p>Score: {{this.userHandlerService.getUser().currentScore}}</p>
      </span>
    </div>

    <div class="col-1">
      <button type="button" class="btn-close btn-close-white" aria-label="Close"
        (click)="this.userHandlerService.leaveLobby()"></button>
    </div>

  </div>

  <!-- TODO: keep Question Row fixed size and HR on bottom -->
  <div class="row questionSection" style="min-height: 5rem;">
    <!--
    safe [innerHTML binding] for Sanitized DOM text (xss protection)
    If manipulated during runtime Angular will throw security error
    -->
    <h1 [innerHTML]="this.sanitizeDom(userHandlerService.getLobbyInfo().currentQuestionTopic.question)"></h1>
  </div>

  <hr>

  <div class="row answerSection">
    <!-- TODO: Questions must be shuffled in an array, then NGFOR over it -->
    <!-- TODO: Idea - if you answer, the class change from outline to "normal button" (filled);
      if its incorrect the correct answer changed to btn-danger (filled red!) -->

    <span class="mt-2"

      *ngFor="let topic of this.userHandlerService.getLobbyInfo().currentQuestionTopic.shuffledAnswers, let i = index">
      <input type="radio" class="btn-check" autocomplete="off" name="answer" id="answer-{{i}}"

        [disabled]="this.answerisSelected" [(ngModel)]="this.selectedAnswer"
        [value]="this.userHandlerService.getLobbyInfo().currentQuestionTopic.shuffledAnswers[i]"
        (ngModelChange)="submitAnswer($event)">
      <label class="btn btn-outline-primary answer" for="answer-{{i}}"
      [ngClass]="{'mark-correct': this.userHandlerService.validifyCorrectAnswer(this.userHandlerService.getLobbyInfo().currentQuestionTopic.shuffledAnswers[i]) && this.userHandlerService.questionResultsReceived,
      'mark-false': !this.userHandlerService.validifyCorrectAnswer(this.userHandlerService.getLobbyInfo().currentQuestionTopic.shuffledAnswers[i]) && this.userHandlerService.questionResultsReceived}">
        <img src="{{this.answerIconPaths[i]}}" class="answerIcon" alt="Answer-{{i}}">
        <!--
            safe [innerHTML binding] for Sanitized DOM text (xss protection)
            If manipulated during runtime Angular will throw security error
            -->
        <a
          [innerHTML]="this.sanitizeDom(userHandlerService.getLobbyInfo().currentQuestionTopic.shuffledAnswers[i])"></a>
      </label>
    </span>
  </div>
</div>

<div *ngIf="this.userHandlerService.getLobbyInfo().finished">
  GG boiz
  Returning to lobby in {{this.userHandlerService.intermissionTimer.currentTimer}} seconds
</div>
