.answer {
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;

  color: white;
  margin-bottom: 0.5rem;
}


.answers {
  margin-bottom: .5rem;

}

.center {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
}

.timer {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.answerIcon {
  height: 20px;
  margin-right: 10px;
}

.btn-close {
  float: right;
}

