.answer {
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;

  color: white;
  margin-bottom: 0.5rem;
}

.answers {
  margin-bottom: .5rem;

}

.answerIcon {
  height: 20px;
}

.btn-close {
  float: right;
}
