<!-- User isnt in lobby -->
<div *ngIf="!this.userHandlerService.getUser().isInsideLobby; else lobbyBlock">

  <div class="container pt-5">
    <!-- TOP -->
    <div class="row">

      <!-- USER INFOS -->
      <div class="col-sm">
        <div class="card text-white bg-transparent mb-3" style="width: 18rem;">
          <h2 class="mb-3">Hello {{this.userHandlerService.getUser().name}}!</h2>
          <img
            src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber(this.userHandlerService.getUser().name)}}.png"
            alt="user" class="rounded-circle" width="100" />
          <button class="btn mt-2 btn-danger btn-rounded text-uppercase logout" (click)="logout()">Logout</button>
        </div>
      </div>

      <!-- LOBBY LOGIN -->
      <div class="col-sm">
        <form action="">
          <div class="row mt-2">
            <!-- Input -->
            <div class="form-group mb-3">
              <label for="lobbyInput" class="form-label text-center">Lobby-Name:</label>
              <input type="text" class="form-control btn-lg-height" id="lobbyInput" aria-describedby="lobbyInputHelp"
                placeholder="Racehunter" #lobbyName>
              <small id="lobbyInputHelp" class="form-text text-muted">Please type in an existing lobby or create a
                new one
              </small>
            </div>

            <!-- Buttons -->
            <div class="col">
              <button type="submit" class="btn btn-primary w-100 btn-lg-height" (click)="createLobby(lobbyName.value)">
                Create</button>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-secondary w-100 btn-lg-height" (click)="joinLobby(lobbyName.value)">
                Join</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-danger w-100 btn-lg-height" (click)="createLobby('Lobby1')">
                Create 'Lobby1'</button>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-danger w-100 btn-lg-height" (click)="joinLobby('Lobby1')">
                Join 'Lobby1'</button>
            </div>
            <a>{{this.statusMessage}}</a>


          </div>
        </form>
      </div>
    </div>

    <!-- Horizontal Line -->
    <div class="row">
      <hr class="mt-5">
    </div>

    <!-- BOTTOM -->
    <div class="row">
      <!-- ACTIVE LOBBIES -->
      <!-- TODO: (staggered) Fade-In Animation for lobbies => last lobby fades-in as last one. see /styles.css::fade-in-0-->
      <!-- TODO: Fix OpenLobby Info Polling from server because the animation goes crazy on hover if the lobbies are being re-initialized every time-->
      <div class="col">
        <h2>Active Lobbies</h2>
        <div class="row">
          <div class="col-6" *ngFor="let lobby of this.lobbies">
            <div class="card bg-primary mb-3 project-image" (click)="joinLobby(lobby.name)">
              <div class="card-body">
                <h3 class="card-title">{{lobby.name}}</h3>
                <h3 class="usersInLobby">{{lobby.users}}/10</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1 d-flex">
        <div class="vr"></div>
      </div>

      <!-- UPCOMING LEADERBOARD -->
      <div class="col container">
        <h2>TOP 10 Leaderboard of the GOATs</h2>


        <div class="podium">
          <div class="podium__item">
            <div class="podium__city">
              <p>Mike 123123
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
              </p>
            </div>
            <div class="podium__rank second">
              <img
                src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber('mike')}}.png"
                alt="user" class="rounded-circle podium__city" width="70" />
            </div>
          </div>
          <div class="podium__item">
            <div class="podium__city">
              <p>Daniel 568265
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
              </p>
            </div>
            <div class="podium__rank first">
              <img
                src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber('daniel')}}.png"
                alt="user" class="rounded-circle podium__city" width="70" />
            </div>
          </div>
          <div class="podium__item ">
            <div class="podium__city">
              <p>Client3 55234
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
              </p>
            </div>
            <div class="podium__rank third">
              <img
                src="../../../../../../assets/img/profiles/profile_{{this.settingHandler.generateNumber('scheerhorn')}}.png"
                alt="user" class="rounded-circle podium__city" width="70" />
            </div>
          </div>
        </div>




        <table class="table table-borderless table-hover mt-2">

          <tbody>
            <tr *ngFor="let player of ranking; let i = index">
              <td>#{{ i+4 }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.score }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path
                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                  <path
                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<!-- User in lobby -->
<ng-template #lobbyBlock>
  <app-quiz-lobby></app-quiz-lobby>
</ng-template>
